{% extends 'base.html.twig' %}

{% block title %}Modifier Context{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Context</h1>

        {{ include('context/_form.html.twig', {'button_label': 'Metrre à jour'}) }}
        <div class="d-flex">
            <a class="btn btn-light btn-outline-dark me-2" href="{{ path('context_index') }}">Retour</a>

            {{ include('context/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
