{% extends 'base.html.twig' %}

{% block title %}HELP{% endblock %}

{% block body %}
<div class="container">
        {{ render(controller('App\\Controller\\SearchController::resultat')) }}
</div>
{% endblock %}
