<form method="post" action="{{ path('univers_delete', {'id': univer.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ univer.id) }}">
    <button class="btn btn-light btn-outline-dark me-2">Suprimer</button>
</form>
