{% extends 'base.html.twig' %}

{% block title %}New Univers{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un Univers</h1>

        {{ include('univers/_form.html.twig') }}

        <a class="btn btn-light btn-outline-dark me-2" href="{{ path('univers_index') }}">Retour</a>
    </div>
{% endblock %}
