<form method="post" action="{{ path('appuser_delete', {'id': appuser.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appuser.id) }}">
    <button class="btn btn-light btn-outline-dark me-2">Supprimer</button>
</form>
