{% extends 'base.html.twig' %}

{% block title %} Mon compte {% endblock %}

{% block body %}
	<div class=" container mt-5">
		<div>
			<h1>Modification du profil de : {{ app.user.firstname }} {{ app.user.lastname }}</h1>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
            <div class="form-group">
            {{ include('appuser/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
		</div>
	</div>
{% endblock %}
